@import url('https://fonts.googleapis.com/css?family=Italiana:700|Italiana:400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-50: rgb(10, 12, 15);
    --text-100: rgb(20, 24, 31);
    --text-200: rgb(41, 48, 61);
    --text-300: rgb(61, 71, 92);
    --text-400: rgb(82, 95, 122);
    --text-500: rgb(102, 119, 153);
    --text-600: rgb(133, 146, 173);
    --text-700: rgb(163, 173, 194);
    --text-800: rgb(194, 201, 214);
    --text-900: rgb(224, 228, 235);
    --text-950: rgb(240, 241, 245);

    --background-50: rgb(11, 11, 14);
    --background-100: rgb(22, 22, 29);
    --background-200: rgb(44, 44, 58);
    --background-300: rgb(67, 67, 86);
    --background-400: rgb(89, 89, 115);
    --background-500: rgb(111, 111, 144);
    --background-600: rgb(140, 140, 166);
    --background-700: rgb(169, 169, 188);
    --background-800: rgb(197, 197, 211);
    --background-900: rgb(226, 226, 233);
    --background-950: rgb(241, 241, 244);

    --primary-50: rgb(8, 11, 18);
    --primary-100: rgb(16, 23, 35);
    --primary-200: rgb(32, 45, 70);
    --primary-300: rgb(47, 68, 106);
    --primary-400: rgb(63, 90, 141);
    --primary-500: rgb(79, 113, 176);
    --primary-600: rgb(114, 141, 192);
    --primary-700: rgb(149, 170, 208);
    --primary-800: rgb(185, 198, 223);
    --primary-900: rgb(220, 227, 239);
    --primary-950: rgb(237, 241, 247);

    --secondary-50: rgb(15, 10, 12);
    --secondary-100: rgb(30, 21, 24);
    --secondary-200: rgb(60, 42, 47);
    --secondary-300: rgb(90, 63, 71);
    --secondary-400: rgb(120, 84, 95);
    --secondary-500: rgb(150, 105, 118);
    --secondary-600: rgb(171, 135, 146);
    --secondary-700: rgb(192, 165, 173);
    --secondary-800: rgb(213, 195, 200);
    --secondary-900: rgb(234, 225, 228);
    --secondary-950: rgb(245, 240, 241);

    --accent-50: rgb(15, 12, 10);
    --accent-100: rgb(30, 25, 21);
    --accent-200: rgb(60, 50, 42);
    --accent-300: rgb(90, 75, 63);
    --accent-400: rgb(120, 100, 84);
    --accent-500: rgb(150, 124, 105);
    --accent-600: rgb(171, 151, 135);
    --accent-700: rgb(192, 177, 165);
    --accent-800: rgb(213, 203, 195);
    --accent-900: rgb(234, 229, 225);
    --accent-950: rgb(245, 242, 240);
}


body {
    font-family: 'Montserrat';
    font-weight: 400;
    color: var(--text-100);
    background-color: var(--background-950);
    margin: 0;
    padding: 0;
    padding-bottom: 6em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Italiana';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

header {
    background: url(images/noise1.svg), linear-gradient(270deg, var(--background-950), var(--secondary-800));
    display: flex;
    height: 80px;
    color: var(--primary-300);
    justify-content: space-between;
    padding: 1em 6em;
    user-select: none;
    font-family: "Italiana";

    h1 {
        margin: 0;

        a {
            color: inherit;
            text-decoration: none;

            &:visited {
                color: inherit;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        font-size: 1.5em;
        font-weight: 700;

        a {
            text-decoration: none;
            color: inherit;
            user-select: none;
            position: relative;

            &:visited {
                color: inherit;
            }

            &:before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -2px;
                transform: translateX(-50%) scaleX(0);
                transform-origin: 50% 50%;
                width: 100%;
                height: 2px;
                background-color: var(--primary-300);
                transition: 0.5s;
            }

            &:hover {
                &:before {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
}

section {
    padding: 1em 6em;
}

#universe-home {
    p {
        columns: 2;
        line-height: 130%;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    gap: 80px;
    padding: 0 12em;


    .card {
        background: url(images/noise1.svg) no-repeat center/cover,
            linear-gradient(var(--accent-900) 0%, var(--secondary-900) 28%);
        border-radius: 15px;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-img {
            width: 550px;
            height: 350px;
            position: relative;
            border-radius: 15px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50%;
                background: linear-gradient(to top, var(--secondary-900), transparent);
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 10%;
            }
        }

        .card-title {
            font-size: 2em;
            font-weight: 700;
            font-family: "Italiana";
        }

        .card-description {
            padding-top: 1em;
            font-size: 1em;
            width: 550px;
            overflow: scroll;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}

#campaigns-home {
    .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 0;
    }

    .card {
        height: 650px;
        padding-bottom: 2em;
        background: url(images/noise1.svg) no-repeat center/cover,
            linear-gradient(0deg, var(--background-950), var(--secondary-800));

        .card-description {
            max-height: 360px;
        }
    }
}